<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="mobile-web-app-capable" content="yes">
<head>
    <title>Central</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="central" target="_blank">Central</a></li>
            <li class="tab col s3"><a class="active" href="parent" target="_blank">Parent</a></li>
            <li class="tab col s3"><a href="kid" target="_blank">Kid</a></li>
            <li class="tab col s3"><a href="old" target="_blank">Old</a></li>
        </ul>
    </div>
</div>
<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<div id="dashboard"></div>
<div id="appWrap">
    <div class="switch">
        <p>parent: <br>
            camera: {{parent.camera}} mic: {{parent.mic}} wifi: {{parent.wifi}}
        </p>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="parent.camera"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="parent.mic"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="parent.wifi"><span class="lever"></span>
        </label>
    </div>
    <div class="switch">
        <p>kid: <br>
            camera: {{kid.camera}} mic: {{kid.mic}} wifi: {{kid.wifi}}
        </p>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="kid.camera"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="kid.mic"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="kid.wifi"><span class="lever"></span>
        </label>
    </div>
    <div class="switch">
        <p>old: <br>
            camera: {{old.camera}} mic: {{old.mic}} wifi: {{old.wifi}}
        </p>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="old.camera"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="old.mic"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="old.wifi"><span class="lever"></span>
        </label>
    </div>
    <a v-on:click="submitSettings" class="waves-effect waves-light btn" style="margin: 20px;">Submit changes</a>
</div>
<ul id="messages"></ul>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js"></script>
<script src="controller/central.js"></script>
<script src="controller/common.js"></script>
</body>
</html>