<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="mobile-web-app-capable" content="yes">
<head>
    <title>Old</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        #dialogWrap {display: none}
        .row,#dashboard,#unknownSoundVideoPlayBtn {display: none;}
        #appWrap {display: none;}
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="375px" height="627px" viewBox="350 400 1081 1810" style="enable-background:new 0 0 9000 9000;" xml:space="preserve">
<style type="text/css">
<![CDATA[
	.st0{fill:#7F4C90;}
    .st1{opacity:0.98;fill:#1D1D1B;}
    .st2{fill:#1D1D1B;}
    .st3{fill:#FD8D4B;}
    .st4{fill:#FFA664;}
    .st5{fill:#FFFFFF;}
    .st6{fill:none;stroke:#1D1D1B;stroke-width:40;stroke-miterlimit:10;}
    .st7{display:inline;}
    .st8{display:none;}
    .st9{opacity:0.6;fill:#F6F6F6;}
    .st10{fill:url(#Bg_1_);stroke:#1D1D1B;stroke-miterlimit:10;}
    .dialog{fill:#F8F4E9;stroke:#6A5F5B;stroke-width:30;stroke-miterlimit:10;}
    #dialogTxt{font-family: 'Arial'; font-size: 50px; fill:#6A5F5B;}
]]>
</style>
<linearGradient id="Bg_1_" gradientUnits="userSpaceOnUse" x1="890.0005" y1="736.1509" x2="890.0004" y2="1907.2128">
	<stop  offset="0" style="stop-color:#4050A5"/>
	<stop  offset="1" style="stop-color:#66A5C9"/>
</linearGradient>
<rect id="Bg" x="350" y="292.2" class="st10" width="1080" height="1920"/>
<path id="earphoneTop" class="st6" d="M488.4,1169.5c0,0,32.1-264,401.6-264s420.5,264,420.5,264"/>
<path id="Hat" class="st0" d="M708.3,963.4V705c0,0,22.7-88,112.7-90s104,88,104,112s18-30,84-30s100,60.4,104,92.2
	s-18,83.8-18,83.8s16-10,38-8s62,33.5,66,64.7s-27.2,82.8-27.2,82.8"/>
<path id="Head" class="st5" d="M1430,2161.8c-90-68-131-118.8-161-290.8c-45.7-261.9,78-442,48-600c-34.9-184-148.5-344-440-341.2
	C643.3,932,509,1088,473,1281c-36,193,97.6,394.4,28,610c-69.6,215.6-151,270.8-151,270.8v50.4h1080V2161.8z"/>
<path id="moustache" class="st0" d="M959.9,1470.1c2.1,4.1,23,67.3,21,87.3s-8,48-43,47s-48-45-48-45c0,25-24,45-47,45s-44-13-44-37
	s19-106.4,19-106.4s26.1-24.2,68.1-24.6S959.9,1470.1,959.9,1470.1z"/>
<g id="mouth">
	<path class="st4" d="M709.1,1460.8c0,0,120,3,175.5,0s88.5,10.5,111,10.5s24.5-21,22.7-43.5s-36.2-126-127.7-126.7
		s-188,92.3-187.5,144.7C703.2,1456.5,709.1,1460.8,709.1,1460.8z"/>
	<path class="st3" d="M709.1,1460.8c0,0,120,3,175.5,0s88.5,10.5,111,10.5s20.3-26.1,19.1-48.7c-0.7-14.2-79.4-20.3-124.4-21.1
		c-91.5-1.5-146.3,23.4-162,34.8C719.6,1442.7,709.1,1460.8,709.1,1460.8z"/>
</g>
<path id="RightEye" class="st0" d="M1120.2,1255.5c-2-16-15.7-28.4-32.3-28.4c-18,0-32.6,14.6-32.6,32.6c0,1.4,0.1,2.8,0.3,4.2v24.3
	h0.3c0,18,14.6,32.6,32.6,32.6s32.6-14.6,32.6-32.6v-32.6H1120.2z"/>
<path id="LeftEye" class="st0" d="M702.3,1255.5c-2-16-15.7-28.4-32.3-28.4c-18,0-32.6,14.6-32.6,32.6c0,1.4,0.1,2.8,0.3,4.2v24.3
	h0.3c0,18,14.6,32.6,32.6,32.6s32.6-14.6,32.6-32.6v-32.6H702.3z"/>
<g id="glasses">
	<path class="st1" d="M575,1115.3h606.7c0,0,0,40,0,80s-36.7,158.7-150,158.7c-141.7,0-153.3-152.7-153.3-152.7S865.7,1354,725,1354
		c-114,0-150-126.7-150-145.3S575,1115.3,575,1115.3z"/>
	<path class="st9" d="M630.3,1128.7H755c0,0,52.7,48,52.7,66c0,4-4.6,9.3-8.7,9.3c-8.6,0-30.6,4.7-30.6,18c0,34.7,48.7,70,48.7,77.3
		c0,10-35.3,26-54.7,36.3C751.1,1262.2,630.3,1128.7,630.3,1128.7z"/>
	<path class="st9" d="M936.3,1131.2H1061c0,0,52.7,48,52.7,66c0,4-4.6,9.3-8.7,9.3c-8.6,0-30.6,4.7-30.6,18
		c0,34.7,48.7,70,48.7,77.3c0,10-35.3,26-54.7,36.3C1057.1,1264.7,936.3,1131.2,936.3,1131.2z"/>
</g>
<g id="headphoneL">
	<path class="st2" d="M501,1599.4c0,6.6-5.4,12-12,12h-14c-6.6,0-12-5.4-12-12V1156c0-6.6,5.4-12,12-12h14c6.6,0,12,5.4,12,12
		V1599.4z"/>
	<rect x="430" y="1137" class="st2" width="30" height="439.5"/>
	<path class="st2" d="M428,1176.3v400.2c0,0-54.6-59.5-54.6-196S428,1176.3,428,1176.3z"/>
</g>
<g id="headphoneR">
	<path class="st2" d="M1290.4,1599.4c0,6.6,5.4,12,12,12h14c6.6,0,12-5.4,12-12V1156c0-6.6-5.4-12-12-12h-14c-6.6,0-12,5.4-12,12
		V1599.4z"/>
	<rect x="1331.4" y="1137" class="st2" width="30" height="439.5"/>
	<path class="st2" d="M1363.4,1176.3v400.2c0,0,54.6-59.5,54.6-196S1363.4,1176.3,1363.4,1176.3z"/>
</g>

<g id="dialogWrap">
    <polygon class="dialog" points="936.3,1696.5 953.8,1770.5 428,1733.5 400.7,2116.5 1346.4,2083.9 1310.5,1784.5 1029.7,1764.5 "/>
	<rect x="484.5" y="1830.5" class="st9" width="788" height="224"/>
	<text id="dialogTxt" transform="matrix(1 0 0 1 484.5 1892.2896)">I think I saw something.</text>
</g>
</svg>

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="central" target="_blank">Central</a></li>
            <li class="tab col s3"><a class="active" href="parent" target="_blank">Parent</a></li>
            <li class="tab col s3"><a href="kid" target="_blank">Kid</a></li>
            <li class="tab col s3"><a href="old" target="_blank">Old</a></li>
        </ul>
    </div>
</div>
<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<div id="dashboard"></div>
<div id="appWrap">
    <div class="switch">
        <p>parent: <br>
            camera: {{parent.camera}} mic: {{parent.mic}} wifi: {{parent.wifi}}
        </p>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="parent.mic"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="parent.camera"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="parent.wifi"><span class="lever"></span>
        </label>
    </div>
    <div class="switch">
        <p>kid: <br>
            camera: {{kid.camera}} mic: {{kid.mic}} wifi: {{kid.wifi}}
        </p>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="kid.mic"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="kid.camera"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="kid.wifi"><span class="lever"></span>
        </label>
    </div>
    <div class="switch">
        <p>old: <br>
            camera: {{old.camera}} mic: {{old.mic}} wifi: {{old.wifi}}
        </p>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="old.mic"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="old.camera"><span class="lever"></span>
        </label>
        <label>
            <input type="checkbox" v-on:click="sendSettings" v-model="old.wifi"><span class="lever"></span>
        </label>
    </div>
    <a v-on:click="submitSettings" class="waves-effect waves-light btn" style="margin: 20px;">Submit changes</a>
</div>
<ul id="messages"></ul>
<div id="audioPart" style="display: none;">
    <p id="demo2">10</p>
    <canvas id="analyser" width="1024" height="300"></canvas>
</div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="https://cdn.rawgit.com/adobe-webplatform/Snap.svg/master/dist/snap.svg.js"></script>
<script src="js/audiodisplay.js"></script>
<script src="js/recorderjs/recorder.js"></script>
<script src="js/main.js"></script>
<script src="controller/old.js"></script>
<script src="controller/common.js"></script>
</body>
</html>